html{
    background-color: rgb(143, 143, 255);
}
h1{
    text-align: center;
    width:100%;
    margin-top:50px;
    margin-bottom:30px;
    color:white;
    font-size:70px;
}
#buttons-container{
    display:flex;
    justify-content:center;
}
button{
    width:100px;
    height:40px;
    margin:20px;
}
#container{
    border:2px solid blue;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    height: 450px;
    width: 450px;
}   
#container > div{
    
    
    border:1px solid black;
    
}